[data-highlighter-line-type='added'] {
  position: relative;
  display: block;
  background-color: rgba(64, 174, 207, 0.3);
}

[data-highlighter-line-type='added']::before {
  content: '+';
  position: absolute;
  top: 0;
  left: 0;
  /* left: calc(1.2rem + 0.25em); */
}

[data-highlighter-line-type='removed'] {
  position: relative;
  display: block;
  background-color: rgba(211, 94, 94, 0.3);
}

[data-highlighter-line-type='removed']::before {
  content: '-';
  position: absolute;
  top: 0;
  left: 0;
  /* left: calc(1.2rem + 0.25em); */
}
